stages:
  - test-utils, tests -- linux, debug, gcc, cppcheck, coverage
  - test-utils, tests -- osx, release with debug info, clang

git:
  depth: 1

jobs:
  include:
     - stage: test-utils, tests -- linux, debug, gcc, cppcheck, coverage
       sudo: required
       dist: trusty
       language: cpp
       env: BUILD_TYPE="Debug"
       compiler: g++
       os: linux
       addons:
         apt:
           sources:
             - ubuntu-toolchain-r-test
           packages:
             - g++-5
             - cppcheck
       before_install:
         - pip install --user cpp-coveralls
       install: export CXX="g++-5"
       script:
         - set -e

         - cppcheck --enable=all -I include --language=c++ --platform=unix64 --std=c++11 --check-config --suppress=missingIncludeSystem
                    -v ./tests

         - cmake -Bbuild -H. -DCMAKE_BUILD_TYPE:STRING=$BUILD_TYPE
         - cmake -Bbuild/tests/unit -Htests/unit -Dtest-utils_DIR:PATH=$(pwd)/build -DCMAKE_BUILD_TYPE:STRING=$BUILD_TYPE
                 -DCOVERAGE:BOOL=ON
         - cmake --build build/tests/unit --target run-all-tests-verbose --config $BUILD_TYPE

         - bash <(curl -s https://codecov.io/bash)
         - coveralls --gcov-options '\-lp'
                     -e build/tests/integration/gtest-src
                     -e $(find build/tests/integration/CMakeFiles -name "CMakeCXXCompilerId.c*")
                     -e $(find build/tests/integration/CMakeFiles -name "CheckFunctionExists.c*")
                     -e $(find build/tests/integration/CMakeFiles -name "feature_tests.c*")

         - set +e
